
body{

    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome-header h1{

    font-size: 70px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 260px;
    padding-left: 400px;
    padding-right: 400px;
    /* background-color: yellow; */


}

.buttons{

    list-style: none;
    margin-top: 50px;
    justify-content: center;
    padding-left: 660px;
    padding-right: 660px;
    
    
}

.buttons a:link,
.buttons a:active,
.buttons a:visited{

    text-decoration: none;
    font-size: 20px;
    color: white;
   
}

.buttons li {

    border: 1px solid white;
    border-radius: 25px;
    margin-top: 15px;
    width: 140px;
    height: 20px;
    text-align: center;
    padding: 15px;
    

}

/* Media Query */

@media (max-width:376px){

    body{

        background-image: url('../images/background-protrait.jpg');
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: auto;
        height: 200vh;   
    
    }

    #welcome-header h1{

        font-size: 100px;
        color: white;
        font-family:'Times New Roman', Times, serif;
        margin-top: 700px;
        text-align: center;
        padding-left: 200px;
        padding-right: 200px;
        width: 1000px;
    
    
    }

    .buttons{

        list-style: none;
        padding-left: 550px;
        padding-right: 550px;
        margin-top: 200px;
        
    }

    .buttons li {

        border: 1px solid white;
        border-radius: 25px;
        margin-top: 50px;
        width: 300px;
        height: 50px;
        text-align: center;
        padding: 15px;
        
    
    }

    .buttons a:link,
    .buttons a:active,
    .buttons a:visited{

        font-size: 40px;
   
    }



}


